*.csproj
.vscode/
*.sln
Library/
obj/
Temp/
Build/
*.mp4
RopeSim/.vs/
RopeSim/Debug/
RopeSim/Release/
RopeSim/RopeSim/Debug/
RopeSim/RopeSim/Release/
RopeSim/RopeSim/x64/
RopeSim/x64/
Waves2D/x64/
Waves2D/Waves2D/x64/
Waves2D/Waves2D/Release/
Waves2D/Release/Waves2D.exp
Waves2D/.vs/
Waves/Logs/
Waves2D/Release/
Waves/fmod_editor.log
Waves/.vs/Waves/v15/.suo
Waves/.vs/
Waves/Assets/FMODStudioCache.asset
Waves/Assets/_Cache/
